<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include('./includes/head.ejs') %> 
  </head>
  <body>
    <!--  header start  -->
     <%- include('./includes/header.ejs') %> 
    <!--  header end    -->

    <!--   Home Section Start   -->
      <%- include('./includes/homsec.ejs') %> 
    <!--   Home Section End   -->

    <!--   About Section Start   -->
      <%- include('./includes/about.ejs') %> 
    <!--   About Section End   -->
    
    <!--   Services Section Start   -->
      <%- include('./includes/service.ejs') %> 
    <!--   Services Section End   -->

    <!-- portfolio section starts  -->
      <%- include('./includes/porto.ejs') %> 
    <!-- portfolio section ends -->

    <!--   Contact Section Start   -->
      <%- include('./includes/conect.ejs') %> 
    <!--   Contact Section End   -->

    <!--   footer start   -->   
      <%- include('./includes/footer.ejs') %> 
    <!--   footer End   -->

    <!-- js Files -->
    <script src="app.js"></script>
    
  </body>
</html>
